body {
	font-family: 'Lato', Arial, sans-serif;	
}

header {
	background: url(../img/main-image.jpg) no-repeat center top / cover;
	padding-bottom: 240px;		
}

.container {
	width: 1190px;	
	margin: 0 auto;	
} 

/*______Header_____ */

.menu__logo {
	float: left;
	margin-top: 20px;
}

.menu__nav {
	float: right;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
	margin-top: 50px;
}

.menu__item {
	float: left;
	display: block;	
	margin-right: 28px;	
}

.item__link {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Lato';
	font-weight: bold;
	font-size: 14px;
	padding: 5px;
	border-radius: 10px;
	transition: 0.5s ease-in;
}

.item__link:hover, 
.item__btn:hover
 {
	box-shadow: 0 0 25px 2px #fff;
	border-radius: 10px;
	background-color: #BEFFDD;
	color: #0EBAB4;	
}

.item__link:active, 
.item__btn:active
 {
	color: #2553D5;
	background-color: #C8D4FF;
	opacity: 0.8;
	box-shadow: 0 0 25px 2px;
	transition: 0s;
}

/*____Icon burger-menu_____*/

.item__btn {
	display: block;
	width: 14px;
	height: 10px;
	position: relative;
	padding: 10px 15px;
	transition: 0.5s;
	border-radius: 10px;
}

.item__btn span,
.item__btn span:before,
.item__btn span:after {
	position: absolute;
	top: 50%; margin-top: -1px;
	left: 50%; margin-left: -10px;
	width: 20px;
	height: 2px;
	background-color: #fff;	
}

.item__btn span:before {
	content: '';
	transform: translateY(-5px);
}

.item__btn span:after {
	content: '';
	transform: translateY(5px);
}

/*___*/

.titles__first {
	font-family: 'Times New Roman';
	font-size: 36px;
	font-weight: bold;
	font-style: italic;
	color: #fff;
	opacity: 0.7;
	text-align: center;
	margin-top: 270px;
}

.titles__main {
	font-family: 'Lato';
	font-size: 100px;
	font-weight: bold;	
	color: #fff;
	text-align: center;
}

.button {
	display: block;
	border: 4px solid #fff;
	width: 280px;
	padding: 20px 0;
	color: #fff;
	text-align: center;	
	border-radius: 3px;
	margin: 0 auto;
	font-size: 18px;
	font-weight: bold;
	margin-top: 40px;
	transition: 0.8s;		
}

.button:hover {
	color: #259227;
	border: 4px solid #51FF55;
	background-color: #BFFFBF;
	opacity: 0.8;
	box-shadow: 0 0 25px 2px;	
}

.button:active {
	color: #2553D5;
	border: 4px solid #070269;
	background-color: #C8D4FF;
	opacity: 0.8;
	box-shadow: 0 0 25px 2px;
	transition: 0s;
}


.titles__second {
	font-family: 'Lato Regular';
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin-top: 40px;
	text-decoration: uppercase;
	letter-spacing: 0.05em;
}

.titles__second--line {
	text-decoration: underline;
	color: #fff;
}

.titles__second--line:hover {
	color: #51FF55;	
}

.titles__second--line:active {
	color: #51B3FF;	
}

/*______Section 1______*/

.section1 {
	background: #ffffff;
	display: flex;
	justify-content: space-between;
	padding: 100px 0;
}

.section1__item {
	width: 370px;
	text-align: center;
}

.item__rondo {
	width: 110px;
	height: 110px;
	border: 2px solid #221f1f;
	border-radius: 50%;
	margin: 0 auto;
	display: flex;		
}

.rondo__img {
	margin: auto;	
}

.section1__item:hover .item__rondo {
	border: 2px solid #f57365;
	box-shadow: 0 0 20px 2px #F5C2BD;
}

.section1__item:hover .item__title {
	color: #FF0000;
}

.section1__item:hover .item__title:after {
	width: 100%;
}

.item__title {
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
	transition: 0.6s;
	text-transform: uppercase;
	letter-spacing: 0.05em; 
}

.item__title:after {
	content: "";
	display: block;
	width: 88px;
	border-bottom: 1px solid #f57365;
	margin: 0 auto;	
	margin-top: 10px;
	transition: 1s; 
	margin-bottom: 20px;
}

.item__text {
	font-family: 'Lato Light';
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.05em;		
}


/*______Section 2______*/

.section2 {
	background-color: #f7f7f7;
	height: 880px;
	overflow: hidden;	
}

.phone {
	float: left;
	margin-top: 105px;
}

.introducing {
	width: 545px;
	float: right;
}

.introducing__title {
	margin-top: 180px;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.05em;
}

.introducing__title:after {
	content: "";
	display: block;
	width: 90px;
	border-bottom: 1px solid #f57365;
	margin: 10px 0 20px;
	transition: 1s; 
}

.introducing__text {
	font-family: 'Lato Light';
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 30px;
	letter-spacing: 0.05em;
}

.story__link {
	display: inline-block;
	margin-right: 10px;
	border-radius: 7px;
	height: 38px;
}

.story__link:hover {
 	box-shadow: 0 1px 20px 2px; 	
} 

.story__link:active {
 	box-shadow: 0 1px 20px 2px #0AFF83;
} 

.story__icon {
	width: 100%;	
}

/*______Section 3______*/

.section3 {
	background: url(../img/bg-section-3.png) no-repeat 50% 100%  / cover #4a3949;
	text-align: center;
	color: #fff;
	padding: 80px 0;	
}

.section3__rondo {
	width: 115px;
	height: 115px;
	border: 5px solid #928891;
	border-radius: 50%;
	margin: 0 auto;
	background: url("../img/section3_photo.jpg") no-repeat;
	background-position: -20px -5px;	
}

.section3__rondo:hover {
	border: 5px solid #4FEFE2;	
	box-shadow: 0 0 20px 1px;	
}

.section3__text, .section__initial {
	font-family: 'Lato Hairline';
	margin-top: 20px;	
}

.section3__text {
	font-size: 30px;
	line-height: 45px;
}

.section__initial {
	font-size: 18px;
	font-style: italic;
	margin-bottom: 35px;	
}

.section3__slider {
	width: 60px;
	margin: 0 auto;
}

.section3__point {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #7a6d79;
	border-radius: 50%;
	margin-right: 10px;
}

.section3__point:last-child {
	margin-right: 0;
}

.section3__point:hover {
	background-color: #fff;
	cursor: pointer;
}

/*______Section 4______*/

.section4 {
	background-color: #fff;
	text-align: center;
	padding: 100px 0 40px;
}

.section4__title {
	font-size: 18px;
	font-weight: bold;
	transition: 0.6s;
	text-transform: uppercase;
	letter-spacing: 0.05em; 
}

.section4__title:after {
	content: "";
	display: block;
	width: 88px;
	border-bottom: 1px solid #f57365;
	margin: 0 auto;	
	margin-top: 10px;
	transition: 1s;	
}

/*______Section 5______*/

.grid__img {
	width: 100%;
}

.grid__item {
	position: relative;	
}

.item__info {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;	
	letter-spacing: 0.05em;
}

.item__recipes {
	font-family: 'Times New Roman';
	font-size: 15.37px;
	font-weight: bold;
	font-style: italic;		
}

.item__name {
	font-weight: bold;
	font-size: 36px;
	text-transform: uppercase;
}

.grid-box:hover .grid__item {
	opacity: 0.65;
}

.grid-box:hover .grid__item:hover {
	opacity: 1;
}

.grid__item:hover .item__recipes {
	font-size: 18px;
}

.grid__item:hover .item__name {
	font-size: 40px;
}

/*______Section 6______*/

.section6 {
	background-color: #fff;
	text-align: center;
	padding: 60px 0;
}

.total {
	display: flex;
	justify-content: space-between;
}

.total__numbers, .total__terms {
	letter-spacing: 0.05em;
}

.total__numbers {
	font-weight: bold;
	font-size: 36px;	
}

.total__terms {
	font-family: 'Lato Light', sans-serif;
	font-size: 16px;
}

/*______Footer______*/

footer {
	background-color: #f7f7f7;
	padding: 40px 0;
	font-family: 'Lato Light' sans-serif;
	font-size: 14px;
	color: #8b8b8b; 
}

.copyright {
	float: left;
	text-transform: capitalize;	
}

.design {
	float: right;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.design--link {
	font-family: 'Lato';
	font-size: 14px;
	color: #000;
}

.design--link:hover {
	color: #5151FF;
}

.design--link:active {
	color: #FF0A0A;
}