body {
	font-family: 'Lato', Arial, sans-serif;
	background-color: #fff: 
}

header {
	background: url(../img/main-image.jpg) no-repeat center top / cover;
	padding-bottom: 240px;	
}

.container {
	width: 1190px;	
	margin: 0 auto;
	height: 100vh;	
} 

.logo {
	float: left;
	margin-top: 20px;
}

nav {
	float: right;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
	margin-top: 50px;
}

.menu__item {
	float: left;
	display: block;	
	margin-right: 28px;	
}

.item__link {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Lato';
	font-weight: bold;
	font-size: 14px;
	padding: 5px;
	border-radius: 10px;
	transition: 0.5s;
}

.item__link:hover, 
.item__btn:hover
 {
	box-shadow: 0 0 25px 2px #fff;
	border-radius: 10px;
	background-color: #BEFFDD;
	color: #0EBAB4;	
}

.item__link:active, 
.item__btn:active
 {
	color: #2553D5;
	/*border: 4px solid #070269;*/
	background-color: #C8D4FF;
	opacity: 0.8;
	box-shadow: 0 0 25px 2px;
	transition: 0s;
}

/*____Иконка бургер-меню_____*/

.item__btn {
	display: block;
	width: 14px;
	height: 10px;
	position: relative;
	padding: 10px 15px;
	transition: 0.5s;
	border-radius: 10px;
}

.item__btn span,
.item__btn span:before,
.item__btn span:after {
	position: absolute;
	top: 50%; margin-top: -1px;
	left: 50%; margin-left: -10px;
	width: 20px;
	height: 2px;
	background-color: #fff;	
}

.item__btn span:before {
	content: '';
	transform: translateY(-5px);
}

.item__btn span:after {
	content: '';
	transform: translateY(5px);
}

/*____________*/

.titles__first {
	font-family: 'Times New Roman';
	font-size: 36px;
	font-weight: bold;
	font-style: italic;
	color: #fff;
	opacity: 0.7;
	text-align: center;
	margin-top: 270px;
}

h1 {
	font-family: 'Lato';
	font-size: 100px;
	font-weight: bold;	
	color: #fff;
	text-align: center;
}

.button {
	display: block;
	border: 4px solid #fff;
	width: 280px;
	padding: 20px 0;
	color: #fff;
	text-align: center;	
	border-radius: 3px;
	margin: 0 auto;
	font-size: 18px;
	font-weight: bold;
	margin-top: 40px;
	transition: 0.8s;		
}

.button:hover {
	color: #259227;
	border: 4px solid #51FF55;
	background-color: #BFFFBF;
	opacity: 0.8;
	box-shadow: 0 0 25px 2px;	
}

.button:active {
	color: #2553D5;
	border: 4px solid #070269;
	background-color: #C8D4FF;
	opacity: 0.8;
	box-shadow: 0 0 25px 2px;
	transition: 0s;
}


.titles__second {
	font-family: 'Lato Regular';
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin-top: 40px;
	text-decoration: uppercase;
}

.titles__second--line {
	text-decoration: underline;
	color: #fff;
}

.titles__second--line:hover {
	color: #51FF55;	
}

.titles__second--line:active {
	color: #51B3FF;	
}